<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Categories</title>
  </head>

  <body class="dreams-container">
  <%- include('../partials/_navbar.ejs') %>

    <h1 id="Welcome-line">Welcome <%=user.username%></h1>

   
    <a class="action"id="btn-submit" href="/users/<%= currentUser._id %>/categories/new">Add a Category</a>
 

    <div class="dream-grid">
    <!-- to display items -->
      <% categories.forEach((category) => { %>
       <div class="dream-box">
          <a href="/users/<%= user._id %>/categories/<%= category._id %>">
            <%= category.name %>
          </a>
          
        </div>
      <% }) %>
      </div>
  </body>
</html>
