<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= category.name %></title>
</head>
<body>
 
<body class="dreams-container">
    
    <h1><%= category.name %></h1>

    <!-- link to view/add dreams in this category -->
    <a href="/users/<%= currentUser._id %>/categories/<%= category._id %>/dreams">
        Add Dreams in <%= category.name %>
    </a>


<div class="dream-grid"> 
  <% category.dream.forEach(dream=> { %>
    <div class="dream-box"> 
    <a href="/users/<%= currentUser._id %>/categories/<%= category._id %>/dreams/<%= dream._id %>">
    <%= dream.dream %> 
  <% }) %>
</div>
</div>
<!-- show the delete and the edit buttons for th ecategory -->
    <div class="dream-actions">
            <form action="/users/<%= currentUser._id %>/categories/<%= category._id %>?_method=DELETE" method="POST">
              <button id="btn-submit" type="submit">Delete</button>
            </form>
            <a id="btn-submit" href="/users/<%= currentUser._id %>/categories/<%= category._id %>/edit">Edit</a>
          </div>
</body>

</div>

<div class="dream-actions">
    <a id="btn-submit" href="/users/<%= currentUser._id %>/categories">Back to categories</a>
</div>

</body>
</html>
