<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Dreams</title>
  </head>

  <body class="dreams-container">
    <%- include('../partials/_navbar.ejs', { user: currentUser  }) %>
   
    <!-- why this is linked to the update the category name function?? -->
    <!-- <a class="add-a-dream" href="/users/<%= currentUser._id %>/categories/<%= category._id %>/dreams/new">Add a Dream</a> -->
 
    <div class="dream-grid">
    <!-- to display dreams -->
      <% dreams.forEach((dream) => { %>
       <div class="dream-box">
          <a href="/users/<%= currentUser._id %>/categories/<%= category._id %>/dreams/<%= dream._id %>">
            <%= dream.dream %>
          </a>
          
        </div>
      <% }) %>
  </body>
</html>
