<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
<title><%= currentUser.dream %></title>
</head>
<body>
 
<!-- <h1><%= currentUser.username %> </h1>  -->

<div class="dream-details">

      <p>Dream: <%= dream.dream %></p>

     <p>Description:<%= dream.description %></p>

      <p>Category: 
        <% if ((dream.category)===("Academic_Star")){ %>
            <%= "Academic Star" %>
       <% } %>

         <% if ((dream.category)===("Job_Star")){ %>
            <%= "Job Star" %>
       <% } %>

        <% if ((dream.category)===("Language_star")){ %>
            <%= "Language star" %>
       <% } %>

        <% if ((dream.category)===("Matrialistic_Star")){ %>
            <%= "Matrialistic Star" %>
       <% } %>

        <% if ((dream.category)===("Skills_Star")){ %>
            <%= "Skills Star" %>
       <% } %>
      </p>

      <p>Status:

        <% if ((dream.status)===("Working_On")){ %>
            <%= "Working On" %>
       <% } %>

        <% if ((dream.status)===("Done")){ %>
            <%= "Done" %>
       <% } %>

      </p>


</div>

<div class="dream-actions">
            <form action="/users/<%= currentUser._id %>/categories/<%= category._id %>/dreams/<%= dream._id %>?_method=DELETE" method="POST">
              <button id="btn-submit" type="submit">Delete</button>
            </form>
            <a id="btn-submit" href="/users/<%= currentUser._id %>/categories/<%= category._id %>/dreams/<%= dream._id %>/edit">Edit</a>
          </div>

       <a id="btn-submit" href="/users/<%= currentUser._id %>/categories/<%= category._id %>/dreams">back to dreams </a>
</body>
</html>