<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
<title><%= currentUser.dream %></title>
</head>
<body>
 
<!-- <h1><%= currentUser.username %> </h1>  -->

<ul>
    <li>
      <p>Dream: <%= dream.dream %></p>
     <p>Description:<%= dream.description %></p>
      <p>Category:<%= dream.category%></p>
      <p>Status: <%= dream.status%></p>
    </li>
</ul>


       <a href="/users/<%= user._id %>/dreams">back to drdeams skkn </a>
</body>
</html>